.resume{
    padding: 5px;
    margin-top: 10px;
    text-align: center; 
}

.icon-temp{
    display: block;
    margin-left: 80px;
    
}

main{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    height: 300px;
}