.temp{
    padding: 5px;
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.resume{
    padding: 5px;
    margin-top: 10px;
    
}

.icon-temp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main{
    display: flex;
    align-content: space-between;
}