.resume {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

main {
  margin-top: 15px;
  display: flex;
  flex: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px ;
  align-items: stretch;
}

.card {
  justify-content: center;
  align-items: center;
}

.icon-temp{
    margin-left: 10px;
}
.weather-card{
  display: flex;
  flex: auto;
  justify-content: space-between;
}